.task-criteria {
    position: relative; 
    margin-left: 15px;
}
.task-criteria li {
    padding-left: 20px;
    margin-left: 3px;
 }
 .task-criteria li::marker {
    font-size: 0.8em;
 }
.chechbox-check {
    position: absolute;
    margin: 3px 0 0 -20px;
}
